name: Deploy to alavanQA to GitHub Pages

on:
  push:
    branches: [ source ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Generate static vuepress files
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm ci
      - run: npm run build

      - name: Init new repo in dist folder and commit static files generated
          run: |
            cd docs/.vuepress/dist
            git init
            git add -A
            git commit -m 'deploy'

      - name: Force push to main branch to be published
          uses: ad-m/github-push-action@v0.5.0
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            branch: main
            force: true
            directory: ./docs/.vuepress/dist